<h2>Add New Location</h2>
  <form action="/admin/{{_id}}" method="POST">
    <label for="username">Location Name: </label>
    <input type="text" name="name" id="name">

    <label for="street">Location Street: </label>
    <input type="text" name="street" id="address">

    <label for="houseNumber">Location Number: </label>
    <input type="number" name="street" id="address">

    <label for="zip">Location ZIP Code: </label>
    <input type="number" name="street" id="address">

</form>