
<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="{{this.image}}"
      alt="{{this.name}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{this.locationName}}</h5>
      <p class="card-text">City</p>
    </div>
  </div>
</div>