
<div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src="https://www.kigaeno.de/fileadmin/_processed_/b/c/csm_P1050390_785318d474.jpg"
      alt=""
    />
    <div class="card-body">
      <h5 class="card-title">Milchzahnbande (Test)</h5>
      <p class="card-text">Prenzlauer Berg</p>
    </div>
  </div>
</div>