<!-- ADD LOCATION -->

<h2>Add new Location</h2>
<form action="/location" method="POST">
  <label for="title"><b>Location details: </b></label>
  <br>
  <label for="title">Name: </label>
  <input type="text" name="title" id="title">
  <label for="imageLink">Image Link: </label>
  <input type="text" name="imageLink" id="imageLink">
  <label for="stock">Stock: </label>
  <input type="number" name="stock" id="stock">
<br><br>
<label for="address"><b>Address:</b></label>
<br>
<label for="street">Street: </label>
  <input type="text" name="street" id="street">
  <label for="nr">House number: </label>
  <input type="number" name="nr" id="nr">
<label for="zip">ZIP: </label>
  <input type="number" name="zip" id="zip">
<br><br>
  
  <button type="submit">Add location</button>
</form>