
<br>
<h2>Fixed Locations</h2>
<br>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://www.inakindergarten.de/daten/INA-KINDER-GARTEN-PrenzlauerBerg-9.jpg" alt="NBA players">
        <div class="card-body">
          <h5 class="card-title">Kindergarten Prenzlauer Berg</h5>
          <p class="card-text">Avaialable diapers: 800</p>
          <a href="/players" class="btn btn-primary">Contact Details</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://media04.berliner-woche.de/article/2015/03/30/7/113357_L.jpg?1561700648"
            alt="NBA teams">
        <div class="card-body">
          <h5 class="card-title">Kindergarten Wedding</h5>
          <p class="card-text">Available diapers: 1800</p>
          <a href="/teams" class="btn btn-primary">Contact Details</a>
        </div>
      </div>
    </div>
  </div>
</div>


