<!DOCTYPE html>
<html>
  <head>
    <title>List of cities worked</title>
  </head>
  <body>
    {{#each cities}}
      {{this}} {{!-- "this" represents each string in the array of cities --}}
    {{/each}}
  </body>
</html>